
#baground{
	width: 100%;
	height: 400px;
	background-size: cover;
    background-position: center center;
    position: relative;
}

body{
	background-color: #e7eefe;
}
 .ul_top_color{
		 	width: 120px;
		 	height: 3px;
		 	right: 570px;
		 	top: 70px;
		 	position: absolute;
		    background-color: #f4bd3b;
		     z-index: 9999;
		 }
		 .ul_top_color_kub{
		 	width: 20px;
		 	height: 20px;
		 	right: 50px;
		 	top: -8px;
		 	position: absolute;
		    background-color: #f4bd3b;
		 }
	nav > ul> li:nth-child(2)>a{
		color: #f4bd3b;
		font-weight: bold;
	}
		.Course-text:focus {
    border-bottom: 1px solid #fc295d;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    
}
#all-Courses{
  width: 1280px;
  margin: 20px auto;
  overflow: hidden;
}
	
.Training{
	width: 380px;
	height: 400px;
	border: 8px solid #fff;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.05);
	margin: 10px 15px;
	display: inline-block;
	background-size: cover;
	background-position: center center;
	position: relative;
	float: left;
}
.Training_image{
	width: 300px;
	height: 400px;
	display: inline-block;
	background-size: cover;
	background-position: center center;
	background-image: url('../img/hero.jpg');
	
}

	.Training_tr_color{
	width: 100%;
    height: 100%;
    background-color: rgba(1,4,54, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
	}
	.Training_border{
		width: 350px;
		height: 370px;
		margin: auto;
		border: 2px solid #fff;
		-webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 -o-transition: all 0.3s;
	transition: all 0.3s;
	}
	.Training_border:hover{
		 background-color: rgba(0,0,0,0.4);
		 
	}
	.see {
    width: 63px;
    height: 20px;
    border-radius: 5px;
    position: absolute;
    margin: 10px;
    line-height: 25px;
    background-color: rgba(255,255,255,0.4);
    text-align: right;
    font-size: 16px;
    background-size: cover;
    background-position: center center;
    font-family: "BPG Glaho",sans-serif;
    color: #fff;
    padding: 3px 8px;
}
.fa-eye {
    color: #fff;
    font-size: 17px;
    position: absolute;
    top: 4px;
    left: 8px;
}
	.Training  h5{
		width: 280px;
		margin-left: 26px;
		height: 20px;
		background-color:#fff;
		font-family: 'dejavu_sansbook';
		position: absolute;
		bottom: 40px;
		color: #00abe6;
		font-size: 15px;
		padding: 7px;
		text-align: center;
		line-height: 20px;
		border-radius: 2px;
	}
	.Training  h5:hover{
		text-decoration: underline;
	}
	
@media only screen and (max-width: 1320px) {
	#all-Courses{
  width: 1200px;
}
.Training{
	width: 350px;
}
.Training_border{
	width: 320px;
}
.Training h5{
	margin-left: 12px;
}
}
@media only screen and (max-width: 1220px) {
	#all-Courses{
  width: 855px;
}
.Training{
	width: 380px;
}
}
@media only screen and (max-width: 900px) {
	#all-Courses{
  width: 780px;
}

.Training{
	width: 350px;
	    margin: 10px 10px;
}

}
@media only screen and (max-width: 800px) {
	#all-Courses{
  width: 385px;
}

.Training{
	width: 370px;
	 margin: 10px 0px;
}

}