#Courses{
    width: 90%;
    min-height: 500px;
    margin: auto;
    position: relative;
    background-color: #e7eefe;
    margin-top: -100px;
    z-index: 1;
}
.title_border{
	width: 40%;
	height: 170px;
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

.title_border h2{
	color: #fff;
	position: relative;
	font-family: 'dejavu_sansbold';
	width: 490px;
	font-size: 30px;
	text-align: center;
}
.Line{
	width: 2px;
	height: 370px;
	background-color: #f4d22a;
	position: absolute;
	left: 50%;
	top: 60px;
}
 .ul_top_color{
		 	width: 120px;
		 	height: 3px;
		 	right: 465px;
		 	top: 70px;
		 	position: absolute;
		    background-color: #f4bd3b;
		     z-index: 9999;
		 }
		 .ul_top_color_kub{
		 	width: 20px;
		 	height: 20px;
		 	right: 50px;
		 	top: -8px;
		 	position: absolute;
		    background-color: #f4bd3b;
		 }
	nav > ul> li:nth-child(2)>a{
		color: #f4bd3b;
		font-weight: bold;
	}
		.Course-text:focus {
    border-bottom: 1px solid #fc295d;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    
}
.Courses{
	 width: 90%;
	 margin: 20px auto;
	 overflow: hidden;
}
.Courses_left{
	width: 15%;
	margin-left: 0;
	min-height: 200px;
	float: left;
	border-right: 1px solid rgba(1,4,44,0.2);
}
.Courses_left ul{
	list-style: none;
	width: 120px;
	margin: auto;
	
}
.Courses_left ul li{
width: 120px;
height: 120px;
margin-top: 30px;
background-color: #ffffff;
border-radius: 5px;
box-shadow: 0px 0px 8px rgba(0,0,0,0.05);
display: flex;
 -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
   
}
.Courses_left ul li p{
margin: auto;
width: 44px;
line-height: 25px;
text-align: center;
color: #00abe6;
font-weight: bold;
font-family: 'bpg_nino_medium_capsregular';
font-size: 15px;
}
.Courses_left ul li:nth-child(2) p{
margin: auto;
width: 44px;
height: 40px;
text-align: center;
color: #753cbe;
font-weight: bold;
font-family: 'bpg_nino_medium_capsregular';
font-size: 15px;
border-radius: 50%;
}
.Courses_left ul li:nth-child(3) p{
margin: auto;
width: 60px;
line-height: 17px;
text-align: center;
color: #f44471;
font-weight: bold;
font-family: 'bpg_nino_medium_capsregular';
font-size: 15px;
 cursor: pointer;
}
.Courses_left ul li:nth-child(3):hover{
background-color: #753cbe;
color: #fff;
}
.Courses_left ul li:nth-child(3):hover  .block{
color: #fff;
}
.block>.fa-user{
	padding: 5px;
}
.Courses_right{
	width: 29%;
	float: right;
	margin-right:0;
	min-height: 200px;
	border-left: 1px solid rgba(1,4,44,0.2);
	display: flex;
}
.border{
	margin: auto;
	width: 330px;
}
	 .Training{
		width: 320px;
		height: 400px;
		position: relative;
		overflow: hidden;
		float: left;
		margin-top: 20px;
		border-radius: 2px;
		background-size: 100% 100%;
		cursor: pointer;
		background-size: cover;
		background-position: center center;
		margin-top: 24px;
		border: 5px solid #fff;
		box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
	}
	.Training_image{
	width: 320px;
	height: 400px;
	border: 1px solid red;
	display: inline-block;
	background-size: cover;
	background-position: center center;
	background-image: url('../img/hero.jpg');
	
}
	.Training_tr_color{
	width: 100%;
    height: 100%;
    background-color: rgba(1,4,54, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
	}
	.Training_border{
		width: 300px;
		height: 370px;
		margin: auto;
		border: 1px solid #fff;
		-webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 -o-transition: all 0.3s;
	transition: all 0.3s;
	 background-color: rgba(0,0,0,0.1);
	}
	.Training_border:hover{
		 background-color: rgba(0,0,0,0.4);
		 
	}
	.see {
    width: 63px;
    height: 20px;
    border-radius: 5px;
    position: absolute;
    margin: 10px;
    line-height: 25px;
    background-color: rgba(255,255,255,0.4);
    text-align: right;
    font-size: 16px;
    background-size: cover;
    background-position: center center;
    font-family: "BPG Glaho",sans-serif;
    color: #fff;
    padding: 3px 8px;
}
.see>.fa-eye {
    color: #fff;
    font-size: 17px;
    position: absolute;
    top: 4px;
    left: 8px;
}
	.Training  h5{
		width: 320px;
		height: 20px;
		font-family: 'dejavu_sansbook';
		position: absolute;
		bottom: 40px;
		color: #fff;
		font-size: 15px;
		text-align: center;
		line-height: 20px;
		border-radius: 2px;
	}
	.Training  h5:hover{
		text-decoration: underline;
	}
	.Courses_center{
		float: left;
		width: 52%;
		margin-left: 2%;
		min-height: 900px;
		border-radius: 3px;
	}
	.Courses_center img{
		margin: 5px;
		width: 98.6%;
	}
	.Courses_center h1{
		padding: 5px;
		color: #1c252c;
		font-family: 'bpg_nino_medium_capsregular';
	}
	.Courses_center div{
		padding: 5px;
		color: #6c87a2;
		line-height: 22px;
		 font-family: 'calibri';
	}
	.Cont_us_alert{
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #fff;
	z-index: 9999999;
	display:flex;
	top:-120%;
	-webkit-transition: all .6s;
    -moz-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}
.Course_booking{
	width:800px;
	height:500px;
	border-radius: 10px;
	margin: auto;
	position: relative;
	background-color:#ffffff; 
	box-shadow: 0 0 45px 0 rgba(0,0,0,0.15);
	
}

.text_Cont{
	width: 310px;
	padding: 10px;
	border-radius:5px;
	border: 2px solid  #00abe6;
	outline: none;
	background-color: transparent;
	color: #000;
	margin-top: 20px;
}
.text_Age{
	width: 60px;
	padding: 10px;
	border-radius:5px;
	border: 2px solid  #00abe6;
	outline: none;
	background-color: transparent;
	color: #000;
	margin-top: 20px;
}

.Course_a_Cont{
	width: 370px;
	float: right;
	position: relative;
	margin-top: 100px;
}
.Course_booking_image{
	width: 400px;
	float: left;
	height: 100vh;
	height:500px;
	position: relative;
	background-size: cover;
	background-position: center center;
	background-image: url('../img/baner/Course_booking_image.jpg');
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}
.Course_booking_image_color{
    width: 100%;
    height: 100%;
    background-color: rgba(1,4,54, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}
.btn_call_Cont{
	cursor: pointer !important;
	width: 130px;
	margin-top: 50px;
	position: relative;
	z-index: 9999; 
}
::placeholder {
    color: #bcbcbc;
    font-family: 'dejavu_sansbook';
}
.g-recaptcha{
	margin-top: 10px;
}
.Course_booking_button{
    width: 310px;
    height: 50px;
    border-radius: 4px;
     background-color: #00abe6;
    border: 2px solid #00abe6;
    outline: none;
    font-family: 'dejavu_sansbold';
    cursor: pointer;
    color:  #fff;
    font-size: 13px;
    margin-top: 10px;
    margin-left:0px;
    padding: 1px 30px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.Course_booking_button:hover{
    color: #00abe6;
    background-color: transparent;
    
}
.fa-window-close{
	position: absolute;
	right: -40px;
	top: -40px;
	color: #02c0ff;
	cursor: pointer;
}
.fa-window-close:hover{
	opacity: 0.6;
}
.fb-share-button{
	margin-left: 10px;
}
@media only screen and (max-width: 1500px) {
	#Courses{
		 width: 96%;
	}
	.Courses{
	 width: 100%;
}
	
}
@media only screen and (max-width: 1400px) {
	.Courses_left{
		width: 13%;
	}
	.Courses_right{
		    width: 31%;
	}
	
}
@media only screen and (max-width: 1300px) {
	.Courses_right{
		    display: none;
	}
	.Courses_left{
		width: 17%;
	}
	.Courses_center{
		width: 75%;
	}
}
@media only screen and (max-width: 1200px) {
	.Courses_right{
		    display: none;
	}
	.Courses_left{
		width: 17%;
	}
	.Courses_center{
		width: 80%;
	}
}
@media only screen and (max-width: 800px) {
	#Courses{
		 width: 98%;
	}
	.Courses{
		    margin: -10px auto;
	}
	.Cont_us_alert{
		display: none;
	}
	.Courses_left{
		display: none;
	}
	.Courses_center{
		width: 95%;
	}
}