@font-face {
    font-family: 'dejavu_sansbook2222';
    src: url('../fonts/ar-archy-semibold.ttf');
}
@font-face {
    font-family: 'dejavu_sansbook3333';
    src: url('../fonts/ar-archy-thin.ttf');
}




@font-face {
    font-family: 'dejavu_sansbook';
    src: url('../fonts/dejavusans-webfont.woff2') format('woff2'),
    url('../fonts/dejavusans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dejavu_sansextralight';
    src: url('../fonts/dejavusans-extralight-webfont.woff2') format('woff2'),
    url('../fonts/dejavusans-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dejavu_sansbold';
    src: url('../fonts/dejavusans-bold-webfont.woff2') format('woff2'),
    url('../fonts/dejavusans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'bpg_nino_medium_capsregular';
    src: url('../fonts/bpg_nino_medium_caps-webfont.woff2') format('woff2'),
    url('../fonts/bpg_nino_medium_caps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'calibri';
    src: url('../fonts/calibri%20regular.ttf'),
    url('../fonts/calibri%20regular.ttf');
}
@font-face {
    font-family: "Regular";
    src: url('../fonts/markgeoregular.html') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Regular2";
    src: url('../fonts/TBCContracticaCAPS-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}