*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
body{
	background-color: #fff;
}
#logo {
    position: absolute;
    z-index: 99;
    margin-left: 3%;
    top: 20px;
    cursor: pointer;
    width: 190px;
}
nav{
	width:100%;
	height:85px;
	z-index: 9;
	position: absolute;
	}
	nav>ul{ 
	width: 730px;
	right:0px;
	margin-top: 70px;
	position: absolute;
	text-align: right;
	border-top: 3px solid rgba(255,255,255,0.2);
	list-style: none;
	 }	
	
	nav > ul> li{
		 display: inline-block;
		 margin-left: 1px;
		 margin-top: 30px;
         line-height: 10px;
		 border-left: 1px solid rgba(255,255,255,0.2);
		 height: 10px;
		 text-align: center;
		 position: relative;
		 padding: 10px 30px;
		 }
		 nav > ul> li:first-child{
		
		 border-left: none;
		
		 }
		  nav > ul> li:last-child{
		 margin-right: 30px;
		 }
		  nav > ul> li>a{
	color: #fff;
    text-decoration: none;
    font-family: 'bpg_nino_medium_capsregular';
    
		  }
		 nav > ul> li>a:hover{
		 color:  #f4bd3b;
		 }
		 
	nav>ul>li>ul.dropdown {
    display: none;
    position: absolute;
    z-index: 99999;
    left: -70px;
    margin-top: 10px;
}
nav ul li ul.dropdown li {
    width: 300px;
    background-color: rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: block;
    text-align: center;
    position: relative;
    z-index: 9999;
}
nav ul li ul.dropdown li:first-child{
	 border-top: 1px solid rgba(0,0,0,0.1);
}
nav ul li ul.dropdown li a {
   display: block;
    padding: 17px 3px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    font-family: 'bpg_nino_medium_capsregular';
}
nav ul li ul.dropdown li a:hover{
	color: #ffcf1d;
}
.dropdown_slide_two{
	left:301px;
	position: absolute;
    z-index: 999;
    margin-top: -46px;
    display: none;
}
.dropdown_slide_two>li{
	height: 45px;
}
.fa-angle-right{
	font-size: 12px;
}
	
.mone {
    font-size: 11px;
    font-weight: normal;
    position: absolute;
    right: 2px;
    z-index: 9999;
    width: 120px;
    color: #fff;
}
   .leng{
		position: absolute;
		right: 50px;
		margin-top: 95px;
	    color: #fff;
		height: 30px;
        text-align: center;
        line-height: 30px;
	}
	.leng>ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.leng>ul>li{
		width: 50px;
		height: 32px;
		background-color:#f4bd3b;
		color: #000;
		cursor: pointer;
	}
	.leng>ul>li>a{
		color: #000;
		font-family: 'bpg_nino_medium_capsregular';
		font-weight: bold;
		font-size: 15px;
	}
	.leng a:hover{
		color: #000;
	}
	.dropdown {
    display: none;
    list-style: none;
    margin-top: 1px;
}
.dropdown>li {
    background-color: #fff;
    width: 50px;
}
.dropdown>li>a {
    color: #000;
    font-family: 'bpg_nino_medium_capsregular';
    font-size: 15px;
}
#header_contacts{
	width: 390px;
	position: absolute;
	right: 0px;
	top: 5px;
}

.header_contacts{
	width: 150px;
	height: 5px;
	color: #fff;
	display: flex;
	float: left;
	margin: 10px;
	
}
.header_contacts:last-child{
	width: 180px;
}
.header_contacts pre{
	font-family: 'bpg_nino_medium_capsregular';
	margin-top: 8px;
	color: #fff;
}
.contacts_icon{
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 20%;
	background-color: rgba(255,255,255, 0.3);
	text-align: center;
	display: flex;
	margin: auto;
}
.fa-envelope,.fa-mobile-alt{
	margin: auto;
}
	#nav-bar{
    width: 50px;
    height: 40px;
    position: absolute;
    right: 25px;
    border: 1px solid rgba(241,103,103, 0.3);
    top: 55px;
    border-radius: 5px;
    background-image: url(../img/icons/menu.png);
    background-size: 100% 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    display: none;
}

.nav-bar-menu{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    top:-100vh;
    left:0%;
    position: fixed;
    position: absolute;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    z-index: 999999;
    text-align: center;
}


.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999999;
    display: block;
    background-color: #ffffff;
    background-image: url(../img/icons/spinner-tide.html);
    background-position: center center;
    background-repeat: no-repeat !important;
    top: 0;
    left: 0;
}
footer {
  background-color: #fff;
}
.footer_border{
	margin: auto;
	max-width: 1300px;
	height: 500px;
	margin-top: 120px;
	position: relative;
}
.footer_contact{
	width: 100%;
	height: 130px;
	background-image: url(../img/contact_image.jpg);
	position: relative;
}
.footer_contact_tr_color {
    width: 100%;
    height: 100%;
    background-color: rgba(1,4,54, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}
.footer_contact pre{
	color:#fff;
	position: absolute;
	left: 17%;
	top: 60px;
	font-family: 'bpg_nino_medium_capsregular';
	font-weight: bold;
	font-size: 30px;
}
.footer_contact_shape{
	width: 8px;
	height: 100px;
	margin-top: 34px;
	background-color: #d2dffd;
	margin-left: 49%;
	display: none;
}
.footer_contact_border{
	width: 98%;
	height: 110px;
	margin-top: 8px;
	margin-left: 1%;
	border: 2px solid rgba(255,255,255,0.2);
}
.footer-contacts{
	position: absolute;
	list-style: none;
	left: 90px;
	top:0px;
}
.footer-contacts>li{
	width: 290px;
	height: 40px;
	margin-top: 60px;
	background-size: 60px 60px;
	background-repeat: no-repeat;
	background-position: -13px -10px;
	
}
.footer-contacts>li>p{
	position: relative;
	line-height: 25px;
	margin-top: -10px;
	margin-left: 60px;
	text-align: left;
	color: #616568;
	font-family: 'dejavu_sansbook';
}
.footer-contacts>li>p>a{
	color: #616568;
}
.footer-contacts li:nth-child(1){
	 background-image: url(../img/call.png);
}
.footer-contacts li:nth-child(2){
	 background-image: url(../img/mail.png);
}
.footer-contacts li:nth-child(3){
	 background-image: url(../img/adress.png);
}
.form{
    position: absolute;
    max-width: 600px;
    right: 90px;
    top: 50px;
}
.text1 {
    width: 40%;
    height:30px;
	border: 1px solid #d2dffd;
    outline: none;
    color:  #000;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    float: left;
    background-color: #d2dffd;
}
.textarea1 {
    width: 95%;
    height: 200px;
     background-color: #d2dffd;
	border: 1px solid #d2dffd;
    outline: none;
    color: #000;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
}
.aBooking1 {
    width: 100px;
    height: 40px;
    color: #fff;
    float: right;
    margin-right: 8px;
    background-color: #00acf2;
    border: 1px solid #00acf2;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.aBooking1:hover{
	
	 background-color: transparent;
	 color: #000;
}

::-webkit-input-placeholder { /* Chrome */
  color: #b9bdbf;
  font-size: 12px;
}
:-ms-input-placeholder { /* IE 10+ */
   color: #b9bdbf;
  font-size: 12px;
}
::-moz-placeholder { /* Firefox 19+ */
   color: #b9bdbf;
 font-size: 12px;
}
:placeholder { /* Firefox 4 - 18 */
   color: #b9bdbf;
  font-size: 12px;
}
#baground{
	width: 100%;
	height: 500px;
	background-size: cover;
    background-position: center center;
    position: relative;
}
.baground-tr-color{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
    background-image: linear-gradient(rgba(1,4,45, 0.6),rgba(1,4,45,0.2));
}
.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999999;
    display: block;
    background-color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat !important;
    background-size: 200px 200px;
}
.preloader_center {
    width: 110px;
    margin: auto;
    height: 100%;
    display: flex;
   
}
.pr_align {
    width: 40px;
  height: 40px;
    margin: auto;
    
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 0px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fcc32a;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
.sirkle .fa{color:#fcc32a;margin:0;padding:0;animation:animate 1.6s linear infinite}@keyframes animate{0%{transform:translateY(10px);text-shadow:0 50px 0 #fcc32a;opacity:0}20%{transform:translateY(0px);text-shadow:0 10px 0 #fcc32a}40%{transform:translate(0px);text-shadow:0 -10px 0 #fcc32a;opacity:1}60%{transform:translateY(0px);text-shadow:0 0 0 #fcc32a}100%{transform:translateY(-30px);text-shadow:0 -50px 0 #fcc32a;opacity:0}}
.sirkle {
    transform: translate (-80%,-80%) !important;
    background-color: rgba(0,2,25,0.6);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 80px;
    font-size: 60px;
    overflow: hidden;
    right: 15px;
    opacity: 0;
    border: 2px solid #000219;
    position: fixed;
    cursor: pointer;
    bottom: 90px;
    z-index: 999999;
     -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.sirkle:hover{
    
    background-color: rgba(0,2,25,0.6);
   
}
.footer_f {
    width: 100%;
    height: 70px;
    background-color: #000219;
    font-family: 'dejavu_sansbook';
    color: #828486;
    text-align: center;
    line-height: 70px;
    font-size: 13px;
}
.fa-times-circle{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    color: #02c0ff;
    cursor: pointer;
}
.menu_logo{
	width: 100px;
	height: 100px;
	margin: auto;
	margin-top: 30px;
	border-radius: 50%;
	background-color: #02c0ff;
	 -webkit-box-shadow: 0 0 45px 0 rgba(0,0,0,0.15);
    box-shadow: 0 0 45px 0 rgba(0,0,0,0.15);
     background-image: url(../img/logo.png);
     background-repeat: no-repeat;
     background-size: 90% 60%;
     background-position-y: 20px;
}
.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999999;
    display: block;
    background-color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat !important;
    background-size: 200px 200px;
}
.preloader_center {
    width: 110px;
    margin: auto;
    height: 100%;
    display: flex;
   
}
.pr_align {
    width: 40px;
  height: 40px;
    margin: auto;
    
}
.loader {
  color: #00acf2;
  font-size: 50px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  margin: auto;
  border-radius: 50%;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#top-ge-counter-container{
	position: absolute;
	margin-top: 20px;
}