
#baground{
	width: 100%;
	height: 400px;
	background-size: cover;
    background-position: center center;
    position: relative;
}
#News{
  width: 1380px;
  margin: 20px auto;
  overflow: hidden;
}
 .ul_top_color{
		 	width: 120px;
		 	height: 3px;
		 	right: 330px;
		 	top: 70px;
		 	position: absolute;
		    background-color: #f4bd3b;
		     z-index: 9999;
		 }
		 .ul_top_color_kub{
		 	width: 20px;
		 	height: 20px;
		 	right: 50px;
		 	top: -8px;
		 	position: absolute;
		    background-color: #f4bd3b;
		 }
	nav > ul> li:nth-child(3)>a{
		color: #f4bd3b;
		font-weight: bold;
	}
		.Course-text:focus {
    border-bottom: 1px solid #fc295d;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    
}

	
.news{
   width: 425px;
   	height: 320px;
    margin-top: 30px;
	margin:17px;
   	background-color: #e7eefe;
   	position: relative;
    float: left;
   }
   
   .news>h2{
   	    font-family: 'dejavu_sansbook';
   	    font-size: 14px;
   	    padding: 10px 10px;
   	    color: #00acf2;
   }
 .news-img{
   		 width: 420px;
    height: 240px;
   	margin: auto;
   	border-radius: 2px;
   	background-size: cover;
   	background-position: center center;
   	-webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 -o-transition: all 0.3s;
	transition: all 0.3s;
	
   }
   .news>a{
   	position: absolute;
   	margin-top: 15px;
   	font-size: 14px;
   	right: 5px;
   	font-family: 'bpg_nino_medium_capsregular';
    font-weight: bold;
    color: #1c252c;
   }
   .news>a:hover{
   color: #00acf2;
   }
  .date {
    width: 85px;
    height: 20px;
    color:#1c252c;
    font-size: 12px;
    margin-left: 3px;
    line-height: 12px;
    position: absolute;
    bottom: 3px;
    margin-left: -10px;
    text-align: right;
   
}
@media only screen and (max-width: 1400px) {
	#News{
		width: 1200px;
		
	}
	.news{
		width: 365px;
	}
	.news-img{
		width: 98%;
	}
}
@media only screen and (max-width: 1220px) {
	#News{
		width: 800px;
		
	}
	.news{
		width: 365px;
	}
	.news-img{
		width: 98%;
	}
}
@media only screen and (max-width: 820px) {
	#News{
		width: 500px;
		
	}
	.news{
		width: 460px;
	}
}
@media only screen and (max-width: 520px) {
	#News{
		width: 380px;
		margin: 0px auto;
	}
	.news{
		width: 380px;
		margin: 17px 0px;
	}
}